@using Conectasys.Portal;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no" />
    <link rel="shortcut icon" href="~/resources/icon-conectasys.ico" type="image/x-icon">
    <link rel="icon" href="~/resources/icon-conectasys.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Loader.css"/>
    <link rel="stylesheet" href="~/css/Aviso.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>Login</title>
</head>
<body>

    @if (Config.IsDemostration)
    {
        <div class="aviso">
            <div class="aviso-flex">
                Está é uma versão de demonstração, não representa o funcionamento final deste portal
            </div>
        </div>
    }

    <div class="page-container">
      
        <form method="post" action="login" onsubmit="Submit()">

            <input name="i" value="@ViewBag.IndexPagina" style="visibility:hidden;"/>

            <div class="row-title-container">
                LOGIN
            </div>

            <div class="row-matricula-container">
                Matrícula
            </div>

            <div class="row-input-container">
                <input type="password" autofocus autocomplete="off" maxlength="6" name="matricula" class="input" required />
            </div>

            <div class="row-buttons-container">
                <input type="submit" value="Entrar" class="button-entrar" />
                <input type="button" value="Voltar" class="button-voltar" onclick="location.href='@Url.Action("Index", "Home")'" />
            </div>

        </form>

    </div>
    <div class="center">
        <div class="loader-container">
            <div style="display:flex; height:100%; width:100%; align-items:center; justify-content:center;">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <div class="message-container">
            Carregando...
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function Submit() {
        document.querySelector('.center').setAttribute("style", "visibility:visible;");
    }

    $(document).ready(function () {
        $(".button-voltar").on("clicl", function () {
            $(".center").css("visibility", "visible");
        });
    });
</script>
